

svg {
  font: 10px sans-serif;
  width: 100%;
  height: 500px;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;

  &#path1 {
    stroke: #FF0000;
  }
  &#path2 {
    stroke: #FFFF00;
  }
  &#path3 {
    stroke: #00FF00;
  }
  &#path4 {
    stroke: #00FFFF;
  }
  &#path5 {
    stroke: #0000FF;
  }
  &#path6 {
    stroke: #FF00FF;
  }
  &#path7 {
    stroke: #7BCDC8;
  }
  &#path8 {
    stroke: #F49AC2;
  }

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}